{deps, [
    {rr, ".*", {git, "git@github.com:isakkarlsson/erlang-rr.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.8.6"}},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git"}},
    {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git"}}
]}.
{escript_incl_apps, [rr, csv, cowboy,mimetypes, ranch, jsx]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.