{'machine-learning.methods',
 [
  {<<"rf">>, [
	      {name, <<"Random Forest">>},
	      {help, <<"No help">>},
	      {'options', [{'no-features', [{name, <<"Number of features">>},
					    {'type', <<"numeric">>},
					    {'min', 1},
					    {step, 1},
					    {'max', <<"no_features">>}, %% no_features, no_examples
					    {default, <<"log">>}, %% log or number or undefined
					    {'help', <<"Informative help text">>}]},
			   {'no-trees',    [{name, <<"Number of trees">>},
					    {'type', <<"numeric">>},
					    {'min', 0},
					    {step, 100},
					    {'max', 10000},
					    {default, 1000},
					    {'help', <<"">>}]},
			   {'distribute', [{type, <<"categoric">>},
					   {name, <<"Distribute examples">>},
					   {options, [{default, [{name, <<"Default">>},
								 {help, <<"">>}]},
						      {rule,    [{name, <<"Rule">>},
								 {help, <<"">>}]}]}]},					      
			   {'missing-values', [{type, <<"categoric">>},
					       {name, <<"Distribute missing values">>},
					       {options, [{'random',  [{name, <<"Random distribution">>},
								       {help, <<"">>}
								      ]},
							  {'weighted', [{name, <<"Weighted distribution">>},
									{help, <<"">>}
								       ]}
							 ]}]
			   }]}
	     ]},
  {<<"rfr">>, [
	       {id, <<"rfr">>},
	       {name, <<"Random Rule Forest">>},
	       {help, <<"No help">>},
	       {options, []}
	      ]}
 ]
}.

{'dataset.files',
 [
  {<<"iris">>, [{file, <<"iris.txt">>},
		{name, <<"Iris">>},
		{no_features, 4},
		{no_examples, 150}]},
  {<<"car">>, [{file, <<"car.txt">>},
	       {name, <<"Car">>},
	       {no_features, 6},
	       {no_examples, 1728}]},
  {<<"heart">>, [{file, <<"cleveland-heart-disease.txt">>},
		 {name, <<"Cleveland Heart Disease">>},
		 {no_features, 13},
		 {no_examples, 303}]} ]
}.

{'evaluation.methods',
 [
  {<<"cross-validation">>, [{name, <<"Cross-Validation">>},
			    {help, <<"Perform cross-validation">>},
			    {options, [{folds, [{name, <<"Folds">>},
						{type, <<"numeric">>},
						{min, 2},
						{max, <<"no_examples">>},
						{step, 1},
						{default, 10},
						{help, <<"Number of cross-validation folds">>}]}]}]},
  {<<"split-validation">>, [{name, <<"Split-Validation">>},
			    {help, <<"Split data set into two parts - training and testing">>},
			    {options, [{ratio, [{name, <<"Training set size">>},
						{type, <<"numeric">>},
						{min, 10},
						{max, 100},
						{step, 1},
						{default, 66},
						{help, <<"Size of the training set (as a precentage)">>}]}]}]}
 ]
}.
   
