{'machine-learning.methods',
 [
  {<<"rf">>, [
	      {name, <<"Random Forest">>},
	      {help, <<"No help">>},
	      {'options', [{'no_features', [{name, <<"Number of features">>},
					    {'type', <<"numeric">>},
					    {'min', 1},
					    {step, 1},
					    {'max', <<"no_features">>}, %% no_features, no_examples
					    {default, <<"log">>}, %% log or number or undefined
					    {'help', <<"Informative help text">>}]},
			   {'no_trees',    [{name, <<"Number of trees">>},
					    {'type', <<"numeric">>},
					    {'min', 0},
					    {step, 100},
					    {'max', 10000},
					    {default, 1000},
					    {'help', <<"">>}]},
			   {'max_depth', [{type, <<"numeric">>},
					   {name, <<"Maximal depth of individual tree">>},
					   {min, 1},
					   {max, 1000},
					   {step, 1},
					   {default, 500},
					   {help, <<"The maximum depth of individual trees can increse diversity and lower computational cost (if minimized)">>}]},
			   {'min_examples', [{type, <<"numeric">>},
					     {name, <<"Minimum examples to allow splitting">>},
					     {min, 1},
					     {max, <<"no_examples">>},
					     {default, 2},
					     {step, 1},
					     {help, <<"The number of examples that are allowed for splitting a node controls....">>}]},
			   {'distribute', [{type, <<"categoric">>},
					   {name, <<"Distribute examples">>},
					   {options, [{default, [{name, <<"Default">>},
								 {help, <<"">>}]},
						      {rule,    [{name, <<"Rule">>},
								 {help, <<"">>}]}]}]},					      
			   {'missing', [{type, <<"categoric">>},
					       {name, <<"Distribute missing values">>},
					       {options, [{'random',  [{name, <<"Random distribution">>},
								       {help, <<"">>}
								      ]},
							  {'weighted', [{name, <<"Weighted distribution">>},
									{help, <<"">>}
								       ]}
							 ]}]},
			   {score, [{type, <<"categoric">>},
					    {name, <<"Split measure">>},
					    {options, [{'info', [{name, <<"Information Entropy">>},
								 {help, <<"">>}]},
						       {'gini', [{name, <<"Gini Impurity">>},
								 {help, <<"">>}]},
						       {'gini-info', [{name, <<"Random Choice Between Entropy and Gini">>},
								       {help, <<"">>}]}]}]}							
			   
			  ]}
	     ]},
  {<<"rfr">>, [
	       {id, <<"rfr">>},
	       {name, <<"Random Rule Forest">>},
	       {help, <<"No help">>},
	       {options, []}
	      ]}
 ]
}.

{'dataset.files',
 [
  {<<"iris">>, [{file, <<"iris.txt">>},
		{name, <<"Iris">>},
		{no_features, 4},
		{no_examples, 150}]},
  {<<"car">>, [{file, <<"car.txt">>},
	       {name, <<"Car">>},
	       {no_features, 6},
	       {no_examples, 1728}]},
  {<<"heart">>, [{file, <<"cleveland-heart-disease.txt">>},
		 {name, <<"Cleveland Heart Disease">>},
		 {no_features, 13},
		 {no_examples, 303}]},
  {<<"autos">>, [{file, <<"autos.txt">>},
		 {name, <<"Autos">>},
		 {no_features, 24},
		 {no_examples, 205}]}
 ]
}.

{'evaluation.methods',
 [
  {<<"cross-validation">>, [{name, <<"Cross-Validation">>},
			    {help, <<"Perform cross-validation">>},
			    {options, [{folds, [{name, <<"Folds">>},
						{type, <<"numeric">>},
						{min, 2},
						{max, <<"no_examples">>},
						{step, 1},
						{default, 10},
						{help, <<"Number of cross-validation folds">>}]}]}]},
  {<<"split-validation">>, [{name, <<"Split-Validation">>},
			    {help, <<"Split data set into two parts - training and testing">>},
			    {options, [{ratio, [{name, <<"Training set size">>},
						{type, <<"numeric">>},
						{min, 10},
						{max, 100},
						{step, 1},
						{default, 66},
						{help, <<"Size of the training set (as a precentage)">>}]}]}]}
 ]
}.
   
