{'log.target', std_err}.
{'log.level', debug}.
{'port', 8080}.
{'ui.path', "ui"}.
{'models.path', "models"}.
{'models.ext', ".rr"}.

{'machine-learning.methods',
 [
  {<<"rf">>, [
	      {name, <<"Random Forest">>},
	      {help, <<"No help">>},
	      {'options', [{'no_features', [{name, <<"Number of features">>},
					    {'type', <<"numeric">>},
					    {'min', 1},
					    {step, 1},
					    {'max', <<"no_features">>}, %% no_features, no_examples
					    {default, <<"log">>}, %% log or number or undefined
					    {'help', <<"Informative help text">>}]},
			   {'no_trees',    [{name, <<"Number of trees">>},
					    {'type', <<"numeric">>},
					    {'min', 0},
					    {step, 100},
					    {'max', 10000},
					    {default, 1000},
					    {'help', <<"">>}]},
			   {'max_depth', [{type, <<"numeric">>},
					   {name, <<"Maximal depth of individual tree">>},
					   {min, 1},
					   {max, 1000},
					   {step, 1},
					   {default, 500},
					   {help, <<"The maximum depth of individual trees can increse diversity and lower computational cost (if minimized)">>}]},
			   {'min_examples', [{type, <<"numeric">>},
					     {name, <<"Minimum examples to allow splitting">>},
					     {min, 1},
					     {max, <<"no_examples">>},
					     {default, 2},
					     {step, 1},
					     {help, <<"The number of examples that are allowed for splitting a node controls....">>}]},
			   {'distribute', [{type, <<"categoric">>},
					   {name, <<"Distribute examples">>},
					   {options, [{default, [{name, <<"Default">>},
								 {help, <<"">>}]},
						      {rule,    [{name, <<"Rule">>},
								 {help, <<"">>}]}]}]},					      
			   {'missing', [{type, <<"categoric">>},
					{name, <<"Distribute missing values">>},
					{options, [{'random',  [{name, <<"Random distribution">>},
								{help, <<"">>}
							       ]},
						   {'weighted', [{name, <<"Weighted distribution">>},
								 {help, <<"">>}
								]},
						   {'randomw', [{name, <<"Random Weighted Distribution">>},
								{help, <<"">>}]},
						   {partition, [{name, <<"Randomly Partition Fractions">>},
								{help, <<"">>}]},
						   {wpartition, [{name, <<"Weighted Partition of Fractions">>},
								 {help, <<"">>}]}
						  ]}]},
			   {'feature_sampling', [{type, <<"categoric">>},
						 {name, <<"Feature Sampling">>},
						 {options, [{subset, [{name, <<"Default Subset">>},
								      {help, <<"">>}]},
							    {weka, [{name, <<"Infinite Resample">>},
								    {help, <<"">>}]},
							    {rule, [{name, <<"Rule Nodes">>},
								    {help, <<"">>}]},
							    {'random-rule', [{name, <<"Random Choice Between 'Rule Nodes' and ' Default Subset'">>},
									     {help, <<"">>}]}
							   ]
						 }]},
			   {'no_rules', [{type, <<"categoric">>},
					 {name, <<"Number or Rules">>},
					 {options, [{ss, [{name, <<"Same/Same">>},
							  {help, <<"">>}]}]}]},
			   {'rule_score', [{type, <<"categoric">>},
					   {name, <<"Rule Optimize Measure">>},
					   {options, [{laplace, [{name, <<"Laplace Estimate">>},
								 {help, <<"">>}]},
						      {m, [{name, <<"M-Estimate">>},
							   {help, <<"">>}]},
						      {purity, [{name, <<"Purity Estimate">>},
								{help, <<"">>}]}]}]},					    
			   {score, [{type, <<"categoric">>},
				    {name, <<"Split measure">>},
				    {options, [{'info', [{name, <<"Information Entropy">>},
							 {help, <<"">>}]},
					       {'gini', [{name, <<"Gini Impurity">>},
							 {help, <<"">>}]},
					       {'gini-info', [{name, <<"Random Choice Between Entropy and Gini">>},
							      {help, <<"">>}]},
					       {'jensen-difference', [{name, <<"Jensen Difference">>},
								      {help, <<"">>}]}
					       
					      ]}

				   ]}							
			   
			  ]}
	     ]},
  {<<"rfr">>, [
	       {id, <<"rfr">>},
	       {name, <<"Random Rule Forest">>},
	       {help, <<"No help">>},
	       {options, []}
	      ]}
 ]
}.

{'dataset.folder', "../data"}.
{'dataset.files',
 [
  {<<"yeast.txt">>,
   [{file,<<"yeast.txt">>},
    {name,<<"yeast.txt">>},
    {no_features,8},
    {no_examples,1484}]},
  {<<"wine.txt">>,
   [{file,<<"wine.txt">>},
    {name,<<"wine.txt">>},
    {no_features,13},
    {no_examples,178}]},
  {<<"waveform+noise.txt">>,
   [{file,<<"waveform+noise.txt">>},
    {name,<<"waveform+noise.txt">>},
    {no_features,40},
    {no_examples,5000}]},
  {<<"wave.txt">>,
   [{file,<<"wave.txt">>},
    {name,<<"wave.txt">>},
    {no_features,40},
    {no_examples,5000}]},
  {<<"tic-tac-toe.txt">>,
   [{file,<<"tic-tac-toe.txt">>},
    {name,<<"tic-tac-toe.txt">>},
    {no_features,9},
    {no_examples,958}]},
  {<<"tae.txt">>,
   [{file,<<"tae.txt">>},
    {name,<<"tae.txt">>},
    {no_features,5},
    {no_examples,151}]},
  {<<"splice.txt">>,
   [{file,<<"splice.txt">>},
    {name,<<"splice.txt">>},
    {no_features,60},
    {no_examples,3190}]},
  {<<"spambase.txt">>,
   [{file,<<"spambase.txt">>},
    {name,<<"spambase.txt">>},
    {no_features,57},
    {no_examples,4601}]},
  {<<"soybean.txt">>,
   [{file,<<"soybean.txt">>},
    {name,<<"soybean.txt">>},
    {no_features,35},
    {no_examples,683}]},
  {<<"soybean-large.txt">>,
   [{file,<<"soybean-large.txt">>},
    {name,<<"soybean-large.txt">>},
    {no_features,35},
    {no_examples,307}]},
  {<<"sick-euthyroid.txt">>,
   [{file,<<"sick-euthyroid.txt">>},
    {name,<<"sick-euthyroid.txt">>},
    {no_features,25},
    {no_examples,3163}]},
  {<<"promoters.txt">>,
   [{file,<<"promoters.txt">>},
    {name,<<"promoters.txt">>},
    {no_features,57},
    {no_examples,106}]},
  {<<"primary-tumor.txt">>,
   [{file,<<"primary-tumor.txt">>},
    {name,<<"primary-tumor.txt">>},
    {no_features,17},
    {no_examples,339}]},
  {<<"post-operative-patients.txt">>,
   [{file,<<"post-operative-patients.txt">>},
    {name,<<"post-operative-patients.txt">>},
    {no_features,8},
    {no_examples,90}]},
  {<<"pima-indians-diabetes.txt">>,
   [{file,<<"pima-indians-diabetes.txt">>},
    {name,<<"pima-indians-diabetes.txt">>},
    {no_features,8},
    {no_examples,768}]},
  {<<"new-thyroid.txt">>,
   [{file,<<"new-thyroid.txt">>},
    {name,<<"new-thyroid.txt">>},
    {no_features,5},
    {no_examples,215}]},
  {<<"mushroom.txt">>,
   [{file,<<"mushroom.txt">>},
    {name,<<"mushroom.txt">>},
    {no_features,22},
    {no_examples,8124}]},
  {<<"lymphography.txt">>,
   [{file,<<"lymphography.txt">>},
    {name,<<"lymphography.txt">>},
    {no_features,18},
    {no_examples,148}]},
  {<<"lung-cancer.txt">>,
   [{file,<<"lung-cancer.txt">>},
    {name,<<"lung-cancer.txt">>},
    {no_features,56},
    {no_examples,32}]},
  {<<"labor.txt">>,
   [{file,<<"labor.txt">>},
    {name,<<"labor.txt">>},
    {no_features,16},
    {no_examples,57}]},
  {<<"krkopt.txt">>,
   [{file,<<"krkopt.txt">>},
    {name,<<"krkopt.txt">>},
    {no_features,6},
    {no_examples,28056}]},
  {<<"kr-vs-kp.txt">>,
   [{file,<<"kr-vs-kp.txt">>},
    {name,<<"kr-vs-kp.txt">>},
    {no_features,36},
    {no_examples,3196}]},
  {<<"iris.txt">>,
   [{file,<<"iris.txt">>},
    {name,<<"iris.txt">>},
    {no_features,4},
    {no_examples,150}]},
  {<<"ionosphere.txt">>,
   [{file,<<"ionosphere.txt">>},
    {name,<<"ionosphere.txt">>},
    {no_features,34},
    {no_examples,351}]},
  {<<"image-segmentation.txt">>,
   [{file,<<"image-segmentation.txt">>},
    {name,<<"image-segmentation.txt">>},
    {no_features,19},
    {no_examples,210}]},
  {<<"hungarian-heart-disease.txt">>,
   [{file,<<"hungarian-heart-disease.txt">>},
    {name,<<"hungarian-heart-disease.txt">>},
    {no_features,13},
    {no_examples,294}]},
  {<<"house-votes.txt">>,
   [{file,<<"house-votes.txt">>},
    {name,<<"house-votes.txt">>},
    {no_features,16},
    {no_examples,435}]},
  {<<"hepatitis.txt">>,
   [{file,<<"hepatitis.txt">>},
    {name,<<"hepatitis.txt">>},
    {no_features,19},
    {no_examples,155}]},
  {<<"glass.txt">>,
   [{file,<<"glass.txt">>},
    {name,<<"glass.txt">>},
    {no_features,9},
    {no_examples,214}]},
  {<<"ecoli.txt">>,
   [{file,<<"ecoli.txt">>},
    {name,<<"ecoli.txt">>},
    {no_features,7},
    {no_examples,336}]},
  {<<"dermatology.txt">>,
   [{file,<<"dermatology.txt">>},
    {name,<<"dermatology.txt">>},
    {no_features,34},
    {no_examples,366}]},
  {<<"cylinder-bands.txt">>,
   [{file,<<"cylinder-bands.txt">>},
    {name,<<"cylinder-bands.txt">>},
    {no_features,38},
    {no_examples,540}]},
  {<<"crx.txt">>,
   [{file,<<"crx.txt">>},
    {name,<<"crx.txt">>},
    {no_features,15},
    {no_examples,690}]},
  {<<"connect-4.txt">>,
   [{file,<<"connect-4.txt">>},
    {name,<<"connect-4.txt">>},
    {no_features,42},
    {no_examples,67557}]},
  {<<"cleveland-heart-disease.txt">>,
   [{file,<<"cleveland-heart-disease.txt">>},
    {name,<<"cleveland-heart-disease.txt">>},
    {no_features,13},
    {no_examples,303}]},
  {<<"car.txt">>,
   [{file,<<"car.txt">>},
    {name,<<"car.txt">>},
    {no_features,6},
    {no_examples,1728}]},
  {<<"breast-cancer-wisconsin.txt">>,
   [{file,<<"breast-cancer-wisconsin.txt">>},
    {name,<<"breast-cancer-wisconsin.txt">>},
    {no_features,9},
    {no_examples,699}]},
  {<<"bank.txt">>,
   [{file,<<"bank.txt">>},
    {name,<<"bank.txt">>},
    {no_features,16},
    {no_examples,45211}]},
  {<<"balance-scale.txt">>,
   [{file,<<"balance-scale.txt">>},
    {name,<<"balance-scale.txt">>},
    {no_features,4},
    {no_examples,625}]},
  {<<"autos.txt">>,
   [{file,<<"autos.txt">>},
    {name,<<"autos.txt">>},
    {no_features,25},
    {no_examples,205}]},
  {<<"audiology.txt">>,
   [{file,<<"audiology.txt">>},
    {name,<<"audiology.txt">>},
    {no_features,69},
    {no_examples,200}]},
  {<<"anneal-orig.txt">>,
   [{file,<<"anneal-orig.txt">>},
    {name,<<"anneal-orig.txt">>},
    {no_features,38},
    {no_examples,898}]}
 ]
}.

{'evaluation.methods',
 [
  {<<"cross-validation">>, [{name, <<"Cross-Validation">>},
			    {help, <<"Perform cross-validation">>},
			    {options, [{folds, [{name, <<"Folds">>},
						{type, <<"numeric">>},
						{min, 2},
						{max, <<"no_examples">>},
						{step, 1},
						{default, 10},
						{help, <<"Number of cross-validation folds">>}]},
				       {store, [{name, <<"Store Model">>},
						{type, <<"categoric">>},
						{options, [{yes, [{name, <<"Yes">>},
								  {help, <<"">>}]},
							   {no, [{name, <<"No">>},
								 {help, <<"">>}]}]}]}
				      ]}]},
  {<<"split-validation">>, [{name, <<"Split-Validation">>},
			    {help, <<"Split data set into two parts - training and testing">>},
			    {options, [{ratio, [{name, <<"Training set size">>},
						{type, <<"numeric">>},
						{min, 10},
						{max, 100},
						{step, 1},
						{default, 66},
						{help, <<"Size of the training set (as a precentage)">>}]}]}]}
 ]
}.
   
